*{
    color:crimson;
 }
 #primeropai{
     background-color: blueviolet;
 }

 .fondoverde{
     background-color: green;
 }
@media screen and(max-width: 500px){
    h1{
        color:blueviolet
    }
}