* {
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
    font-family:'Poppins';
    color:#fff;
    padding-bottom:1000em;
}

p{

    opacity: 0.8;
    margin: 2em 0;
}


h1{
    font-weight: 600;
    font-size: 3em;
}

.banner{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    text-align: left;
    background: center fixed url("probamo.jpg")
}

.banner_description {

width: 90%;
max-width: 1000px;
display: block;
margin: auto;
}
